<body>
    <!-- preloader  -->
    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="J" class="letters-loading">
                        J
                    </span>
                    <span data-text-preloader="O" class="letters-loading">
                        O
                    </span>
                    <span data-text-preloader="S" class="letters-loading">
                        S
                    </span>
                    <span data-text-preloader="C" class="letters-loading">
                        C
                    </span>
                    <span data-text-preloader="O" class="letters-loading">
                        O
                    </span>
                </div>
                <p style="text-align: center;">FACILITY MANAGEMENT</p>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- preloader end -->

    <!-- header start -->
    <header class="site-header site-header-2">
        <div class="header-top-area header-top-area-2 bg-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-7 col-lg-7">
                        <div class="header-top-info">
                            <ul>
                                <li><a href="mailto:joscofacility2016@gmail.com">joscofacility2016@gmail.com</a></li>
                                <li><a href="tel:+919605238888">+91 9605238888</a></li>
                                <li>1st Floor, Novelty arcade, Calicut</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5">
                        <div class="header-top-menu">
                            <ul>
                                <li><a href="#0">Support</a></li>
                                <li><a href="#0">Terms &amp; Coditions</a></li>
                            </ul>
                            <div class="header-top-social-links">
                                <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                <a href="#0"><i class="fab fa-twitter"></i></a>
                                <a href="#0"><i class="fab fa-behance"></i></a>
                                <a href="#0"><i class="fab fa-linkedin"></i></a>
                                <a href="#0"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-area">
            <div class="container-fluid">
                <div class="row align-items-lg-center align-items-start">
                    <div class="col-xl-4 col-lg-3 my-auto">
                        <div class="header-info-left-wrap">
                            <div class="header-info-left">
                                <a href="index.html" class="site-logo">
                                    <img src="assets/images/logo/logo.png" alt="Cleanixer">
                                </a>
                                <a href="#0" class="site-btn">Appointment <span class="icon"><i
                                            class="fal fa-calendar-alt"></i></span></a>
                            </div>
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-xl-block d-lg-block">
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/services">Services</a>
                                        {{!-- <ul class="sub-menu">
                                            <li><a href="service.html">Service</a></li>
                                            <li><a href="service-details.html">Service Details</a></li>
                                        </ul> --}}
                                    </li>
                                    <li><a href="/projects">Projects</a>
                                    <li><a href="/gallery">Gallery</a></li>
                                    <li><a href="/contact">Contact Us</a></li>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    {{!-- <div class="col-xl-2 d-none d-xl-block d-lg-block my-auto col-lg-3">
                        <div class="header-info-right">
                            <div class="header-lang">
                                <div class="lang-icon">
                                    <a href="#0" class="site-btn">English <span class="icon"><i
                                                class="fal fa-language"></i></span></a>
                                </div>
                                <ul class="header-lang-list">
                                    <li><a href="#0">USA</a></li>
                                    <li><a href="#0">UK</a></li>
                                    <li><a href="#0">CA</a></li>
                                    <li><a href="#0">AU</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->