    <!-- footer-top box start -->
    <section class="footer-top-box-area">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-xl-6">
                    <div class="footer-top-box d-flex align-items-center left">
                        <div class="footer-box-icon">
                            <img src="assets/images/icons/track-icon.png" alt="">
                        </div>
                        <div class="footer-box-content">
                            <h2 class="footer-box-title">Track Your Area</h2>
                            <p>We provide janitorial and specialized cleaning services for all typ es and sizes of complexes from small to large
                            offices.</p>
                            <a href="contact.html" class="inline-btn"><i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="footer-top-box d-flex align-items-center right">
                        <div class="footer-box-icon">
                            <img src="assets/images/icons/estimate-icon.png" alt="">
                        </div>
                        <div class="footer-box-content">
                            <h2 class="footer-box-title">Request An Estimate</h2>
                            <p>We provide janitorial and specialized cleaning services for all typ es and sizes of complexes from small to large
                            offices.</p>
                            <a href="contact.html" class="inline-btn"><i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer-top box end -->

    <!-- footer area start -->
    <footer class="site-footer bg-4 site-footer-2 pt-190">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <h4 class="title">Our Services</h4>
                        <ul>
                            <li><a href="#0"><i class="fal fa-angle-right "></i> Maid Services</a></li>
                            <li><a href="#0"><i class="fal fa-angle-right "></i> Window Cleaning</a></li>
                            <li><a href="#0"><i class="fal fa-angle-right "></i> Domestic Cleaning</a></li>
                            <li><a href="#0"><i class="fal fa-angle-right "></i> House Cleaning</a></li>
                            <li><a href="#0"><i class="fal fa-angle-right "></i> Professional Carwashing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget service-menu">
                        <h4 class="title">Our Services</h4>
                        <ul>
                            <li><a href="about.html"><i class="fal fa-angle-right "></i> About Company</a></li>
                            <li><a href="service.html"><i class="fal fa-angle-right "></i> Services</a></li>
                            <li><a href="pricing.html"><i class="fal fa-angle-right "></i> Pricing</a></li>
                            <li><a href="#0"><i class="fal fa-angle-right "></i> Calculator</a></li>
                            <li><a href="blog.html"><i class="fal fa-angle-right "></i> Our Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-lg-6">
                    <div class="footer-widget footer-contact-widget">
                        <h4 class="title">Contact Us</h4>
                        <div class="footer-contact-info">
                            <div class="content">
                                <p>1st Floor Novelty Arcade
                                    Pavamani Road,
                                    Stadium Junction,
                                    Calicut
                                </p>
                                <a href="#0"><i class="fal fa-angle-right"></i> Get Direction</a>
                            </div>
                            <div class="box">
                                <h2><span>Get Free Estimate</span>
                                    +919605238888</h2>
                                <span class="icon"><i class="fal fa-phone"></i></span>
                            </div>
                        </div>
                        <div class="footer-social-info">
                            <div class="content">
                                <a href="tel:+919605238888"><span>T:</span>+919605238888</a>
                                <a href="mailto:joscofacility2016@gmail.com"><span>E:</span>joscofacility2016@gmail.com</a>
                            </div>
                            <div class="social-links">
                                <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                <a href="#0"><i class="fab fa-twitter"></i></a>
                                <a href="#0"><i class="fab fa-behance"></i></a>
                                <a href="#0"><i class="fab fa-linkedin"></i></a>
                                <a href="#0"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="copyright mt-100 pt-30 pb-30 text-center">
                        <p>Developed by Tapclone</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!--========= JS Here =========-->
    <script src="assets/js/jquery-2.2.4.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/counterup.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/jquery.scrollUp.min.js"></script>
    <script src="assets/js/lightcase.js"></script>
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/sticky-header.js"></script>
    <script src="assets/js/waypoint.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/tilt.jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIJ_QKHN-bi6_1C9f5eYE3pZs1zhQIo5o"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>