<!DOCTYPE html>
<html>
<head>
  <title>Josco -Facility Management</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  {{#if admin}}
    {{>admin-header}}
  {{else}}
    {{{body}}}
  {{/if}}
</body>
</html>
