  {{>userHead}}
  {{>userHeader}}
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-overlay="5"
        data-background="assets/images/bg/breadcrumb-bg.jpeg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="breadcrumb-text">
                        <h1 class="breadcrumb-title">Our Portfolio</h1>
                        <p><span>Welcome</span> to our cleaning company</p>
                    </div>
                </div>
                <div class="col-lg-6 my-auto">
                    <div class="breadcrumb-nav">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>|</li>
                            <li>Portfolio</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->

    <!-- portfolio area start -->
    <section class="portfolio-area pt-120 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <!-- portfolio filter start -->
                <div class="col-xl-10">
                    <div class="text-center">
                        <div class="portfolio-filter mb-70">     
                            <button class="active" data-filter="*">All Works</button>
                            <button data-filter=".cat1">Cleaning</button>
                            <button data-filter=".cat2">Car Wash</button>
                            <button data-filter=".cat3">Floor Clean</button>
                            <button data-filter=".cat4">Park Clean</button>
                            <button data-filter=".cat5">Road Clean</button>
                        </div>
                    </div>
                </div>
                <!-- portfolio filter end -->
            </div>
            <div id="portfolio-grid" class="row row-portfolio">
                <div class="col-lg-4 col-md-6 grid-sizer"></div>
                <div class="col-lg-4 col-md-6 grid-item cat2 cat4">
                    <div class="portfolio-item mb-30">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-image" data-overlay="9">
                                <img src="assets/images/portfolio/portfolio-1-thumb-1.jpeg" alt="" />
                            </div>
                            <div class="portfolio-caption">
                                <p>Cleaning, Family Care</p>
                                <h4>Miranda Family Get
                                Cleaning Service</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item cat1 cat5">
                    <div class="portfolio-item mb-30">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-image" data-overlay="9">
                                <img src="assets/images/portfolio/portfolio-1-thumb-2.jpeg" alt="" />
                            </div>
                            <div class="portfolio-caption">
                                <p>Cleaning, Family Care</p>
                                <h4>Miranda Family Get
                                Cleaning Service</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item cat2 cat3 cat1">
                    <div class="portfolio-item mb-30">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-image" data-overlay="9">
                                <img src="assets/images/portfolio/portfolio-1-thumb-3.jpeg" alt="" />
                            </div>
                            <div class="portfolio-caption">
                                <p>Cleaning, Family Care</p>
                                <h4>Miranda Family Get
                                Cleaning Service</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item cat2 cat5">
                    <div class="portfolio-item mb-30">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-image" data-overlay="9">
                                <img src="assets/images/portfolio/portfolio-1-thumb-4.jpeg" alt="" />
                            </div>
                            <div class="portfolio-caption">
                                <p>Cleaning, Family Care</p>
                                <h4>Miranda Family Get
                                Cleaning Service</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item cat3 cat1">
                    <div class="portfolio-item mb-30">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-image" data-overlay="9">
                                <img src="assets/images/portfolio/portfolio-1-thumb-5.jpeg" alt="" />
                            </div>
                            <div class="portfolio-caption">
                                <p>Cleaning, Family Care</p>
                                <h4>Miranda Family Get
                                Cleaning Service</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item cat3 cat5">
                    <div class="portfolio-item mb-30">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-image" data-overlay="9">
                                <img src="assets/images/portfolio/portfolio-1-thumb-6.jpeg" alt="" />
                            </div>
                            <div class="portfolio-caption">
                                <p>Cleaning, Family Care</p>
                                <h4>Miranda Family Get
                                Cleaning Service</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item cat1 cat3">
                    <div class="portfolio-item mb-30">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-image" data-overlay="9">
                                <img src="assets/images/portfolio/portfolio-1-thumb-7.jpeg" alt="" />
                            </div>
                            <div class="portfolio-caption">
                                <p>Cleaning, Family Care</p>
                                <h4>Miranda Family Get
                                Cleaning Service</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item cat2 cat4">
                    <div class="portfolio-item mb-30">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-image" data-overlay="9">
                                <img src="assets/images/portfolio/portfolio-1-thumb-8.jpeg" alt="" />
                            </div>
                            <div class="portfolio-caption">
                                <p>Cleaning, Family Care</p>
                                <h4>Miranda Family Get
                                Cleaning Service</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item cat1 cat3 cat5">
                    <div class="portfolio-item mb-30">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-image" data-overlay="9">
                                <img src="assets/images/portfolio/portfolio-1-thumb-9.jpeg" alt="" />
                            </div>
                            <div class="portfolio-caption">
                                <p>Cleaning, Family Care</p>
                                <h4>Miranda Family Get
                                Cleaning Service</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- portfolio area end -->

    <!-- feature area start -->
    <section class="feature-area bg-2 pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 text-center">
                    <div class="section-heading section-heading-2 mb-70">
                        <h5 class="sub-title mb-22">Features</h5>
                        <h2 class="section-title">Core Features</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-none-30 text-center">
                <div class="col-xl-3 col-lg-6 col-md-6 mt-30">
                    <div class="singel-feature-box">
                        <div class="feature-icon mb-35">
                            <img src="assets/images/icons/feature-1-icon-1.png" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 class="feture-title mb-20">Quick Service</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            <a href="service.html" class="inline-btn mt-10"><i class="fal fa-arrow-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mt-30">
                    <div class="singel-feature-box">
                        <div class="feature-icon mb-35">
                            <img src="assets/images/icons/feature-1-icon-2.png" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 class="feture-title mb-20">24/7 Online Support</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            <a href="service.html" class="inline-btn mt-10"><i class="fal fa-arrow-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mt-30">
                    <div class="singel-feature-box">
                        <div class="feature-icon mb-35">
                            <img src="assets/images/icons/feature-1-icon-3.png" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 class="feture-title mb-20">Clean &amp; Wash</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            <a href="service.html" class="inline-btn mt-10"><i class="fal fa-arrow-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mt-30">
                    <div class="singel-feature-box">
                        <div class="feature-icon mb-35">
                            <img src="assets/images/icons/feature-1-icon-4.png" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 class="feture-title mb-20">Small To Big Wash</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            <a href="service.html" class="inline-btn mt-10"><i class="fal fa-arrow-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature area end -->
    {{>userFooter}}