{{>userHead}}
{{>userHeader}}
<!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-overlay="5"
        data-background="assets/images/bg/breadcrumb-bg.jpeg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="breadcrumb-text">
                        <h1 class="breadcrumb-title">Our Team</h1>
                        <p><span>Welcome</span> to our cleaning company</p>
                    </div>
                </div>
                <div class="col-lg-6 my-auto">
                    <div class="breadcrumb-nav">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>|</li>
                            <li>Team</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->

    <!-- team area start -->
    <section class="team-area pt-120 pb-120">
        <div class="container">
            <div class="row text-center mt-none-30">
               {{#each projects}}
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="singel-team-box mt-30">
                        <div class="team-thumb mb-40">
                            <img src="/uploads/{{this.image}}" alt="">
                        </div>
                        <div class="team-content">
                            <h4 class="name">{{this.heading}}</h4>
                            <span class="designation">{{this.subHeading}}</span>
                            
                        </div>
                    </div>
                </div>
               {{/each}}
        </div>
    </section>
    <!-- team area end -->

    <!-- process area start -->
    <section class="process-area process-area-2 process-area-3 bg-3 pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 text-center">
                    <div class="section-heading section-heading-2 white mb-70">
                        <h5 class="sub-title mb-22">Process</h5>
                        <h2 class="section-title">How It Works</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-none-80 mmt-none-30">
                <div class="col-xl-4 col-lg-6 col-md-12 mt-80 mmt-30 col-md-6 text-center">
                    <div class="single-process-box single-process-box-2 single-process-box-3">
                        <span class="count-big">01</span>
                        <a href="#0" class="inline-btn">Get In Touch <i class="fal fa-arrow-right"></i></a>
                        <div class="process-box-content mt-30">
                            <h2 class="process-box-title">Account &amp; Check In</h2>
                            <p>We provide janitorial and specialized cleaning services for all types and
                            sizes of complexes.</p>
                        </div>
                        <div class="process-box-icon">
                            <img src="assets/images/icons/hiw-icon-1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 mt-80 mmt-30 text-center">
                    <div class="single-process-box single-process-box-2 single-process-box-3 yellow mt-50 mmt-0">
                        <span class="count-big">02</span>
                        <a href="#0" class="inline-btn">Contact Now <i class="fal fa-arrow-right"></i></a>
                        <div class="process-box-content mt-30">
                            <h2 class="process-box-title">Choose Category</h2>
                            <p>We provide janitorial and specialized cleaning services for all types and
                            sizes of complexes.</p>
                        </div>
                        <div class="process-box-icon">
                            <img src="assets/images/icons/hiw-icon-2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 mt-80 mmt-30 text-center">
                    <div class="single-process-box single-process-box-2 single-process-box-3 blue mt-50 mmt-0">
                        <span class="count-big">03</span>
                        <a href="#0" class="inline-btn">Get Support <i class="fal fa-arrow-right"></i></a>
                        <div class="process-box-content mt-30">
                            <h2 class="process-box-title">Get Clean Property</h2>
                            <p>We provide janitorial and specialized cleaning services for all types and
                            sizes of complexes.</p>
                        </div>
                        <div class="process-box-icon">
                            <img src="assets/images/icons/hiw-icon-3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- process area end -->

    <!-- appointment area start -->
    <section class="appointment-area pt-120 pb-120 bg_img" data-overlay="6"
        data-background="assets/images/bg/contact-1-bg.jpeg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-heading white mb-60">
                        <div class="section-heading-top">
                            <h5 class="sub-title">Make Appointment</h5>
                        </div>
                        <h2 class="section-title">Make An Appointment</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="appointment-form">
                        <form action="index.html">
                            <div class="row mt-none-30">
                                <div class="col-xl-4 col-lg-6 mt-30">
                                    <div class="form-group">
                                        <label for="name"><i class="fal fa-user"></i></label>
                                        <input type="text" id="name" placeholder="Enter your name">
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 mt-30">
                                    <div class="form-group">
                                        <label for="email"><i class="fal fa-envelope"></i></label>
                                        <input type="email" id="email" placeholder="Enter your email">
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 mt-30">
                                    <div class="form-group">
                                        <label for="tel"><i class="fal fa-phone"></i></label>
                                        <input type="tel" id="tel" placeholder="Enter your phone">
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 mt-30">
                                    <div class="form-group">
                                        <label for="address"><i class="fal fa-map-marker"></i></label>
                                        <input type="text" id="address" placeholder="Office/Property address">
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 mt-30">
                                    <div class="form-group">
                                        <label for="cat"><i class="fal fa-arrow-down"></i></label>
                                        <input type="text" id="cat" placeholder="Select Category">
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 mt-30">
                                    <div class="form-group">
                                        <label for="date"><i class="fal fa-calendar-alt"></i></label>
                                        <input type="date" id="date">
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xl-4 col-lg-6 mt-30 text-center">
                                    <button type="submit" class="site-btn">Confirm Appointment <span class="icon yellow"><i
                                                class="fal fa-calendar-alt"></i></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- appointment area end -->

    <!-- brand area start -->
    <div class="sponser-area pt-120 pb-40">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-12">
                    <div class="brand-carousel owl-carousel">
                        <div class="singel-brand-item">
                            <img src="assets/images/brand/brand-1.png" alt="">
                        </div>
                        <div class="singel-brand-item">
                            <img src="assets/images/brand/brand-2.png" alt="">
                        </div>
                        <div class="singel-brand-item">
                            <img src="assets/images/brand/brand-3.png" alt="">
                        </div>
                        <div class="singel-brand-item">
                            <img src="assets/images/brand/brand-4.png" alt="">
                        </div>
                        <div class="singel-brand-item">
                            <img src="assets/images/brand/brand-5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand area end -->
    {{>userFooter}}